

  <div style="text-align:center" class="content">
    <h1>
      {{title}}  <span style="font-size:small;"> v.{{version}} {{envname}} </span>
    </h1>
    <small>Build at {{buildAt}}, Branch {{buildBranch}}</small>
    <img width="250" alt="Battleship" src="../assets/img/schiff.svg">
  </div>

<div class="container">
  <button class="btn btn-primary" routerLink="/sea-battle" >Sea Battle</button>
</div>


<div class="container" style="padding-top: 20px;">
  <button class="btn btn-success" routerLink="debug" >Debug</button>
</div>




